<h2 id="log-in-title">Log in</h2>
<div class="auth-form well">
  <label for="user_username">Username</label>
  <div class="input-group">
    <span class="input-group-addon">@</span>
    <input class="form-control" type="text" name="user[username]" id="user_username"/>
  </div>

  <div id="enchant-stage"></div>
</div>
<input type="hidden" id="start" value=""/>
<h1 id="finish"></h1>
<div id="user-results"></div>

<%= javascript_include_tag 'enchant' %>
<%= javascript_include_tag 'main' %>
