<div id="enchant-stage"></div>
<h1 id="judge"></h1>
<h1><span id="combo">0</span>COMBO</h1>
<h1><span id="score">0</span>Pt</h1>

<%= javascript_include_tag 'enchant' %>
<%= javascript_include_tag 'main' %>
